:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    color: black;
    margin: 0 auto;
}

#counter {
    font-size: 0.6rem;
}

#question {
font-size: 1.5rem;
color: rgb(227, 6, 19);
}

.general  {
    border: 1px solid black;
    padding: 10px 0;
    margin-top: 0px;
}

.general .questionsArea {
    border: 1px solid black;
    padding: 10px;
    margin: 0px 6px;
}

.btn {
    border: 1px solid black;
    padding: 10px 125px;
    width: auto;
    height: auto;
    background-color: rgb(0, 159, 227);
    color: white;
    font-size: 0.6rem;
}

.btn:hover {
    cursor: pointer;
}

.general .answersArea {
    
    padding: 10px;
    margin: 0px 6px;
    display: flex;
    justify-content: space-around;
}

.clicked, .btn:hover {
    border: 0.3em solid rgb(72, 73, 73);
    background-color: rgb(227, 6, 19);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.general #nextbutton:hover {
    cursor: pointer;
}


.general #nextbutton {
    border: 1px solid black;
    padding: 10px 125px;
    margin-top: 150px;
    color: white;
    font-size: 0.6rem;
    background-color: black;
}


table {
    display: flex;
    justify-content: center;
    text-align: center;
}

#playagain {
    background-color: black;
    color: white;
}

/*
color: rgb(0, 159, 227); blau
color: rgb(227, 6, 19); rot
*/