:root {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    color: black;
    margin: 0 auto;
}

#counter {
    font-size: 0.6rem;
}

#question {
font-size: 1.5rem;
}

.general  {
    border: 1px solid black;
    padding: 10px 0;
    margin-top: 0px;
}

.general .questionsArea {
    border: 1px solid black;
    padding: 10px;
    margin: 0px 6px;
}

.general .answersArea {
    
    padding: 10px;
    margin: 0px 6px;
    display: flex;
    justify-content: space-around;
}

.general #answer1, #answer2, #answer3, #answer4 {
    border: 1px solid black;
    padding: 10px 125px;
    width: auto;
    height: auto;
}

.general #answer1:active, #answer2:active, #answer3:active, #answer4:active,
.general #answer1:focus, #answer2:focus, #answer3:focus, #answer4:focus {
    border: 0.3em solid rgb(0, 159, 227);
    background-color: rgb(227, 6, 19);
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.general #answer1:hover, #answer2:hover, #answer3:hover, #answer4:hover, #nextbutton:hover {
    cursor: pointer;
}

.general #answer1, #answer2, #answer3, #answer4 {
    background-color: rgb(61, 82, 129);
    color: white;
    font-size: 0.6rem;
}

.general #nextbutton {
    border: 1px solid black;
    padding: 10px 125px;
    margin-top: 150px;
    color: white;
    font-size: 0.6rem;
    background-color: rgb(51, 55, 63);
}


table {
    display: flex;
    justify-content: center;
    text-align: center;
}

#playagain {
    background-color: black;
    color: white;
}

/*
color: rgb(0, 159, 227); blau
color: rgb(227, 6, 19); rot
*/