:root {
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    margin: 0 auto;
}

.start {
    border: 1px solid black;  
    font-size: 1.9em;
    padding: 20px;
}

h5 {
    margin-top: 250px;
}

img {
    background-size: cover;
}